[submodule "modules/sdk"]
	path = modules/sdk
	url = https://git.sagetech.com/sa/sagetech-sdk/sagetech-sdk.git
	branch = development/proto
[submodule "modules/util"]
	path = modules/util
	url = https://git.sagetech.com/sa/sagetech-sdk/sagetech-sdk-util.git
[submodule "modules/test-sdk"]
	path = modules/test-sdk
	url = https://git.sagetech.com/sa/sagetech-sdk/sagetech-sdk-unit-test.git
